@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  background-color: #ef767a;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  background-color: #ef767a;

  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: #f2ceae;
  border-bottom-width: 5px;

  margin-bottom: 1.7em;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 30px;

  text-align: center;
  color: #f4a9aa;
  font-size: 3em;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  color: #f4a9aa;
}

li {
  text-align: center;
  color: #f2ceae;
  font-size: 2em;
  margin-bottom: 10px;
}

div {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="submit"] {
  background-color: #f2ceae;
  color: #ef767a;
  border: 1px #ef767a solid;
  margin-top: 1.2em;
  font-size: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

input[type="submit"]:not([disabled]):hover {
  background-color: #ef767a;
  color: #f2ceae;
  border: 1px #f2ceae solid;
  transition: 0.3s;
}

input[type="submit"]:disabled {
    background-color: #5DBAF0;
    color: black;
    opacity: 0.5;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
    li{
        font-size: 1.3em;
    }

    div {
        text-align: center;
        position: absolute;
        margin: auto;
    }

    input[type="text"] {
        font-size: 1.5em;
    }

    input[type="submit"] {
        font-size: 1.5em;
    }
}
  
  @media only screen and (min-width: 1030px) and (max-width: 1650px) {
    li{
        font-size: 1.8em;
    }

    div {
        text-align: center;
        position: absolute;
        margin: auto;
    }

    input[type="text"] {
        font-size: 2.3em;
    }

    input[type="submit"] {
        font-size: 2em;
    }
  }
